body{
    font-family:sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('../images/BG.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 2.9;
    background-size: cover;
   
}

.services {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}


.services h2 {
  color: red;
  text-align: center;
}


.service-sub {
  text-align: center;
  margin-bottom: 15px;
}


.service-container {
  padding-left: 40px;
}


.service-card {
  margin: 8px 0;
  font-size: 16px;
}


.testimonials{
    border: 2px solid white;
    border-radius: 5px;
    width: 75%;
    text-align: center;
    margin: 34px 100px;
    padding: 14px;
    border-radius: 5px;
    opacity: 0.9;
}

.left {
    display:inline-block;
    position: absolute;
    top: 10px;
    left: 10px;

}
.left img{
    width:100px ;
    filter: invert(100%);
    
}
.left div{
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.mid{
    display:block;
    width: 35%;
    margin:9px auto;
   
}
.navbar {
    display: inline-block;
   
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    margin: 1px;
   

}
.navbar li a:hover,.navbar li a:active{
    text-decoration: underline;
    color: chartreuse;
   


}
.right{
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
}
.button{
    margin: 10px 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: 2px solid gray;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}
.button:hover{
    background-color: chartreuse;
    color: rgb(10, 10, 10);
}
.container{
    border: 2px solid white;
    margin: 34px 268px;
    padding: 14px;
    width: 45%;
    border-radius: 5px;
    opacity: 0.9;
}
.form-group input{
    text-align: center;
    justify-content: center;
    display: block;
    width: 300px;
    padding: 2px;
    border: 2px solid black;
    margin: 8px auto;
    font-size: 15px;
    border-radius: 5px;
}
input:hover{
    color: black;
    background-color: rgb(223, 254, 193);
}
.container h1{
    text-align: center;
    font-size: 30px;

}
.container button{
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 200px;
    border-radius: 5px;

}
footer{
    text-align: center;
    width: 49%;
    
}
.service-container{
    position: relative;
    right: 30px;
}
iframe{
    
    width: 50%;
    text-align: center;
    margin: 34px 100px;
    padding: 14px;
   
    opacity: 0.9;
}